version: "3"

networks:
  web:
    driver: bridge

services:

  cachet:
    build:
      context: .
      args:
        - fqdn={{ fqdn }}
        - cachet_ver=2.4
    ports:
      - "443:8000"
    env_file:
      - .env
    environment:
      - DB_DRIVER=pgsql
      - DB_HOST={{ db_host | default('postgres') }}
      - DB_PORT=5432
      - DB_DATABASE={{ db_database | default('postgres') }}
      - DB_USERNAME={{ db_username | default('postgres') }}
      - DB_PASSWORD={{ db_password | default('postgres') }}
      - DB_PREFIX=chq_

      - APP_KEY=${APP_KEY:-null}

      - SESSION_DOMAIN={{ fqdn }}
      - APP_DEBUG=false
      - DEBUG=false
    restart: on-failure
    networks:
      - web

{% if db_host is not defined %}

    links:
      - postgres:postgres
    depends_on:
      - postgres

  postgres:
    image: postgres:12-alpine
    volumes:
      - /var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    restart: always

{% endif %}

{% if enable_icon_network_exporter %}

  icon_network_exporter:
    image: insightinfrastructure/icon-network-exporter:v0.1.0
    ports:
      - "127.0.0.1:6100:6100"
    restart: always

{% endif %}
